body {
    background: #fbfbfb;
    padding: 0;
    margin: 0;

    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;

    overflow: hidden;
}

textarea {
    resize: none;
    height : 300px;
    width: 1000px;

    padding: 0;
    margin: 0;

    border-radius: 10px;
    border: solid 2px #f3f3f3;

    font-family: 'M PLUS 1p', sans-serif;
    font-size: 18px;
    color: #171c20;
}

textarea:last-of-type {
    height: 150px;
}

textarea::placeholder {
    position: relative;
    left: 14px;
    top: 14px;

    font-family: 'M PLUS 1p', sans-serif;
    color: #bbb;
}

canvas {
    margin-top: 20px;

    border-radius: 10px;
    border: solid 2px #f3f3f3;
}

button {
    height: 60px;
    width: 1000px;

    background: #0ac9b6;
    border-radius: 100px;
    border: none;

    font-family: 'M PLUS 1p', sans-serif;
    font-size: 23px;
    color: #fbfbfb;

    margin: 20px 0;
    cursor: pointer;
}
